html {
  touch-action: manipulation;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.mother {
  height: min(100vh, 109vw);
  width: min(100vw, 109vh);
}

div {
  display: flex;
  margin: auto;
}

canvas {
  margin: auto;
}

button {
  padding: 0;
  text-align: center;
}

/* @media (orientation: portrait) { */
div {
  flex-direction: row;
}
.mother {
  flex-direction: column;
}
canvas {
  height: min(98vw, 90vh);
  width: min(98vw, 90vh);
}
button {
  height: calc(min(99vw, 90vh) / 10);
  width: calc(min(99vw, 90vh) / 10);

  font-size: calc(min(99vw, 90vh) / 36);
}
/* } */

@media (orientation: landscape) {
  div {
    flex-direction: column;
  }
  .mother {
    flex-direction: row;
  }
  canvas {
    height: min(99vh, 90vw);
    width: min(99vh, 90vw);
  }

  button {
    height: calc(min(99vh, 90vw) / 10);
    width: calc(min(99vh, 90vw) / 10);

    font-size: calc(min(99vh, 90vw) / 36);
  }
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
