body {
  margin: 0;
  height: min(100vh, 120vw);
  width: min(100vw, 120vh);
  display: flex;

  touch-action: manipulation;
}

div {
  display: flex;
  margin: auto;
}

canvas {
  margin: auto;
}

button {
  display: block;

  padding: 0;
  text-align: center;
}

body {
  flex-direction: column;
}
div {
  flex-direction: row;
}
canvas {
  height: min(98vw, 90vh);
  width: min(98vw, 90vh);
}
button {
  height: calc(min(99vw, 90vh) / 10);
  width: calc(min(99vw, 90vh) / 10);

  font-size: calc(min(99vw, 90vh) / 36);
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  div {
    flex-direction: column;
  }
  canvas {
    height: min(99vh, 90vw);
    width: min(99vh, 90vw);
  }

  button {
    height: calc(min(99vh, 90vw) / 10);
    width: calc(min(99vh, 90vw) / 10);

    font-size: calc(min(99vh, 90vw) / 36);
  }
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
