body {
  margin: 0;
}
canvas {
  margin: 0 auto;
  height: min(98vw, 90vh);
  width: min(98vw, 90vh);
}
p {
  display: flex;
}
button {
  /* margin: 0 auto; */
  display: block;
  margin: auto;
  height: min(calc(96vh - min(98vw, 90vh)), 100px);
  width: min(calc(96vh - min(98vw, 90vh)), 100px);
}
